@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap'); 
*{
  box-sizing: border-box;
  font-family: "Figtree";
}
body{
  width: 90%;
  margin: 0 auto;
  background-color: black;
  color: white;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}